<!--show.ejs file-->

<% include ../partials/header %>

    <div class="row">
        <div class="col-md-3">
             <p class="lead">WEcart</p>
             <div class="list-group">
                 <li class="list-group-item active  text-center"> Product Info</li>
                 <li class="list-group-item " style="background:#f0ad4e"><a href="https://cdn.dribbble.com/users/1260892/screenshots/7151607/media/996de2cf8e7206459c808052ffa07152.gif" class="btn btn-warning btn-block"> Add To Cart</a></li>
                 <li class="list-group-item " style="background:#5cb85c"><a href="http://www.protontech.in/images/Solutions_icon/Snapshot/2payment_gateway_banner1.PNG" class="btn btn-success btn-block"> Buy This Product </a></li>

             </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img src="<%= campground.image%>">
                <div class="caption-full">
                    <h4 class="pull-right">₹<%= campground.price%> for 1</h4>
                    <h4><a><%= campground.name%></a></h4>
                    <p><%= campground.description%></p>
                   <p>
                     <em>Product added by:<a href="/users/<%= campground.author.id %>"><%=campground.author.username %></a>, <%= moment(campground.createdAt).fromNow() %></em>
                   </p>
                  
                   <a href="<%=campground.youtubeurl %>">Click this link to view youtube reviews of this product </a>

<br>
                    <% if( currentUser && campground.author.id.equals(currentUser._id)){ %>                          <!-- this line helps to know that loggedIn user and author is same or not, if they are same then only going to see the delete and edit buttons otherwise not-->        
                    <a class="btn btn-warning" href="/campgrounds/<%=campground._id%>/edit">Edit Product</a>
                    <form class="delete-form" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete Product</button>
                    </form>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                        <a class="btn btn-success" href="/campgrounds/<%=campground._id%>/comments/new">Add New Comment</a>
                </div>
                <hr>
                <% campground.comments.forEach(function(comment){ %>
                <div class="row">
                    <div class="col-md-12">
                        <strong><%= comment.author.username %></strong>
                        <span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
                        <p>
                          <%= comment.text %>
                        </p>
                        <% if( currentUser && comment.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-xs btn-warning"
                        href="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>/edit">Edit
                        </a>
                        <form class="delete-form" action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                              <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                        </form>
                        <% } %>
                    </div>
                </div>
                
                <% }) %>  
            </div>
        </div>
    </div>




<% include ../partials/footer %>
































